body {
  background-color: grey;
  margin:inherit;
}

#circle1 div{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-color: yellow;
  float: right;
  margin: 3vw;
}
#circle1 {
  width: 100%;
  margin-top:4vw;


}


#circle2 div{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-color: grey;
  float: right;
  margin: 3vw;
}
#circle2 {
  width: 100%;
  margin-left: 2vw;
  position: fixed;
  mix-blend-mode: luminosity;

}
