body {
  background-color: #3e3e3e;
  margin:inherit;
  overflow-x: hidden;
}

#background{

}

#circle1 div{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-color: yellow;
  float: right;
  margin: 2vw 20vw 6vw 0vw;
}
#circle1 {
  width: 100%;
  position:absolute;
}

#circle3 div{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-color: #790334ad;
  float: right;
  margin: 2vw 20vw 6vw 0vw;
}
#circle3 {
  margin-left: -16vw;
  width: 130%;
  position:absolute;
  mix-blend-mode: luminosity;

}


#circle2 div{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-color: #3e3e3e;
  float: right;
  margin: 0vw 20vw 6vw 0vw;
}
#circle2 {
  margin-top: 9vw;
  margin-left: -16vw ;
  width: 130%;
  position: fixed;
  mix-blend-mode: luminosity;

}


#circle4 div{
  height: 8vw;
  width: 8vw;
  border-radius: 50%;
  background-color: #3e3e3e;
  float: right;
  margin: 0vw 20vw 6vw 0vw;
}
#circle4 {
  margin-top: 2vw;
  width: 100%;
  position: fixed;
  mix-blend-mode: luminosity;

}



#circle1:hover div{

  filter: hue-rotate(180deg) saturate(5);
}
