body {
  background-color: grey;
  margin: inherit;
}

#pacman {
  width: 0px;
  height: 0px;
  border-right: 120px solid transparent;
  border-top: 120px solid #ffeb3b;
  border-left: 120px solid #ffeb3b;
  border-bottom: 120px solid #ffeb3b;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  margin-left: 42%;
  transform: rotate(90deg);
  position: fixed;

}


#circle1 div {
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 50%;
  background-color: #ffeb3b;
  margin-left: 42vw;
  margin-bottom: 8vw;
      box-shadow: -1vw 1vw 1vw rgba(50,50,50,.5);
}
#circle1 {
  margin-left: 6vw;
}

#circle {
  height: 120vw;
  width: 120vw;
  border-radius: 50%;
  background-color: #ffeb3b;
  margin-left: -10%;
  position: absolute;
}

#square {
  height: 100%;
  width: 100%;
  background-color: #ffeb3b;
  margin-top: 80%;
}
