body {
  background-color: pink;
  margin: inherit;
  overflow: hidden;
}

#square1 div {
  height: 8vw;
  width: 8vw;
  background-color: #f5f5f5;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
}

#square1 {
  margin-top: -5vw;
  margin-left: -5vw;
  width: 110vw;
}

#square2 div {
  height: 10vw;
  width: 10vw;
  background-color: #e4e4e4;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square2 {
  width: 110vw;
  margin-left: -5vw;
}

#square3 div {
  height: 8vw;
  width: 8vw;
  background-color: #cecece;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square3 {
  width: 110vw;
  margin-left: -5vw;
}

#square4 div {
  height: 10vw;
  width: 10vw;
  background-color: #c1c1c1;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square4 {
  width: 110vw;
  margin-left: -5vw;
}

#square5 div {
  height: 8vw;
  width: 8vw;
  background-color: #afafaf;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square5 {
  width: 110vw;
  margin-left: -5vw;
}

#square6 div {
  height: 10vw;
  width: 10vw;
  background-color: #969696;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square6 {
  width: 110vw;
  margin-left: -5vw;
}

#square7 div {
  height: 8vw;
  width: 8vw;
  background-color: #8a8a8a;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square7 {
  width: 110vw;
  margin-left: -5vw;
}

#square8 div {
  height: 10vw;
  width: 10vw;
  background-color: #6f6f6f;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square8 {
  width: 110vw;
  margin-left: -5vw;
}

#square9 div {
  height: 8vw;
  width: 8vw;
  background-color: #585858;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square9 {
  width: 110vw;
  margin-left: -5vw;
}

#square10 div {
  height: 10vw;
  width: 10vw;
  background-color: #6f6f6f;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square10 {
  width: 110vw;
  margin-left: -5vw;
}

#square11 div {
  height: 8vw;
  width: 8vw;
  background-color: #8a8a8a;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square11 {
  width: 110vw;
  margin-left: -5vw;
}

#square12 div {
  height: 10vw;
  width: 10vw;
  background-color: #969696;
    border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square12 {
  width: 110vw;
  margin-left: -5vw;
}

#square13 div {
  height: 8vw;
  width: 8vw;
  background-color: #afafaf;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square13 {
  width: 110vw;
  margin-left: -5vw;
}

#square14 div {
  height: 10vw;
  width: 10vw;
  background-color: #c1c1c1;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square14 {
  width: 110vw;
  margin-left: -5vw;
}

#square15 div {
  height: 8vw;
  width: 8vw;
  background-color: #cecece;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square15 {
  width: 110vw;
  margin-left: -5vw;
}

#square16 div {
  height: 10vw;
  width: 10vw;
  background-color: #e4e4e4;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square16 {
  width: 110vw;
  margin-left: -5vw;
}

#square17 div {
  height: 8vw;
  width: 8vw;
  background-color: #f5f5f5;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square17 {
  width: 110vw;
  margin-left: -5vw;
}

#square18 div {
  height: 10vw;
  width: 10vw;
  background-color: pink;
  border-radius: 50%;
  border: solid white 1vw;
  float: left;
  margin-top: -6.5vw;
}

#square18 {
  width: 110vw;
  margin-left: -5vw;
}
