body {
  background-color: #fffcec;
  margin:inherit;
}

div {
  height: 30px;
  margin-top: 30px;

}

#circle {
  top: 10px;
  position: sticky;
}

#circle div {
  background: #e2308a;
}

#circle2 {
  top: 30px;
  position: sticky;
}

#circle2 div {
  background: #ff7ea8;

}

#circle3 {
  top: 50px;
  position: sticky;
}

#circle3 div {
  background: #ffb5b9;
}
]
#fixed div{
  height: 5px;
  width: 100vw;
  background-color: #ff42ab;
}
#fixed {
  top: 50px;
  position: fixed;
}
