

body {
  font-family: 'Expletus Sans', sans-serif;
  background-color: black;
	margin:0;
	padding:0;
	height:100vh;
  text-transform: uppercase;
}


.prove{
  font-family: 'Ubuntu', sans-serif;
  font-size: 6vw;
  animation-name: prove;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

}
.delay {
  margin-top: 20vh;
}

.glitch {
  font-size: 12vw;
  line-height: 1;
  font-weight: 900;
  position:absolute;
  margin: 0;
  text-decoration: none;
  color: #fff;
	cursor:pointer;
	letter-spacing:0.04em;
  margin-top: 36vh;

}

.animated {
  position:absolute;
  margin-left: 15vw;
}


.glitch:before, .glitch:after {
    display: inline-block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
}

.glitch:after {
    color: #f0f;
    z-index: -2;
  }

.glitch:before {
    color: #0ff;
    z-index: -1;
  }

.glitch:before {
	animation: glitch .4s cubic-bezier(.25, .46, .45, .94) both infinite
}

.glitch:after {
	animation: glitch .4s cubic-bezier(.25, .46, .45, .94) both reverse infinite
}


@keyframes prove {
    0% {
        color: black;
      }
    100% {
        color: white;
      }
}


@keyframes glitch {
    0% {
        transform: translate(0)
    }
    20% {
        transform: translate(-0.3vw, 0.4vw)
    }
    40% {
        transform: translate(-0.2vw, -0.3vw)
    }
    60% {
        transform: translate(0.3vw, 0.2vw)
    }
    80% {
        transform: translate(0.4vw, -0.1vw)
    }
    to {
        transform: translate(0)
    }

}

.up {
    font-size: 150%;
    color: red;
}

.mla {
  position:absolute;
  display: inline-block;
  color:white;
  font-size: 2vw;
  margin-left: 15vw;
  margin-top: 85vh;
}
.link{
  padding: 1vh;
}

.mla div:hover {
  background-color: white;
  color: pink;
  cursor: pointer;
}
