body {

  background-color: #9dffd7;
  margin:inherit;
}

div {
  height: 3vh;
  margin-top: 30px;

}

#circle {
  top: 2vh;
  position: sticky;
  mix-blend-mode:
}

#circle div {
  background: #4affdb;
}

#circle2 {
  top: 3vh;
  position: sticky;
}

#circle2 div {
  background: #ff0080;

}

#circle3 {
  top: 4vh;
  position: sticky;
}

#circle3 div {
  background: #ffb5b9;
}


#square div{
	height:200vh;
	width: 150vw;
	background: linear-gradient(#ffc5c5, #ffe2b8, #84d9e6);
	float: right;
}


#circles div{
	background-color: #ffffa4;
	height: 10vw;
	width: 10vw;
	margin-bottom: 3vw;
  margin-right: 3vw;
	border-radius: 50%;
	float:right;

}

#circles{
	height: 100vh;
    width: 100vw;
    position: absolute;
    clear: both;
    margin-left: -3vw;
    margin-top: -16vw;


    mix-blend-mode: exclusion;
}
