body {
  background-color: #b3b3b3;
  margin: inherit;
}

#square1 div {
  height: 5vw;
  width: 5vw;
  background-color: #a0a0a0;
  transform: rotate(45deg);
  margin-bottom: 5vw;
  margin-left: 5vw;
  float: left;
}

#square1 {
  margin-top: 2vw;
  width: 100%;
  margin-left: -3vw;
  position: absolute;
}



#triangle2 div {
  height: 3vw;
  width: 3vw;
  background-color: yellow;
  border: solid;
  border-width: 0.5vw;
  transform: rotate(45deg);
  margin-bottom: 5vw;
  margin-left: 5vw;
  float: left;
}

#triangle2 {
  margin-top: 3vw;
  margin-left: -2vw;
  width: 100%;
  mix-blend-mode: luminosity;
  position: sticky;

}
