body {
  background-color: gold;
  font-family: 'Press Start 2P';
  color: gold;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#body {
  background-color: black;
  width: 98%;
  border-style: dotted;
}

h1 {}

h2 {
  font-size: 48px;
  margin-left: -50px;
  margin-top: 1.5em;
  padding-bottom: 0.6em;
  letter-spacing: 0.1em;
  position: relative;
}

h3 {
  font-size: 24px;
  color: gold;
  margin-left: -50px;
  border-left: solid;
  border-width: 5px;
  padding-left: 50px;
  margin-top: 2em;
}


a {
  font-size: 18px;
  text-decoration: none;
  color: #6341ff;
  border-bottom: solid;
  border-width: 4px;
  padding-bottom: 0.5em;
}

a:hover{
  font-size: 18px;
  text-decoration: none;
  color: #6341ff;
  border-bottom: solid;
  border-width: 4px;
  padding-bottom: 0.5em;
  background-color: pink;
}

.r {
  display: table-cell;
  padding-bottom: 0.5em;
}

#left {
  width: 52%;
  height: auto;
  display: inline-block;
  float: left;
  margin-left: 10%;
}

#right {
  width: 38%;
  height: auto;
  display: inline-block;
  margin-bottom: 4%;
}

p {
  margin-left: -50px;
  font-size: 12px;
  border-left: solid;
  padding-left: 50px;
  line-height: 2em;
  position: absolute;
  top: 80%;
}
