body {
  background-color: gold;
  font-family: 'Press Start 2P';
  color: gold;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}


@media only screen and (max-width: 800px) {

    body .body {
      background-color: #ff00a0;
    }
    body {
        background-color: #6d00ff;
        font-family: monospace;
    }

}

.body {
  background-color: black;
  width: 96%;
  border-style: dotted;
  position: absolute;
  height: 94%;
}

h1 {}

h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  padding-bottom: 0.6em;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.2em;
  color: gold;
  border-left: solid;
  border-width: 5px;
  padding-left: 50px;
  margin-top: 2em;
}

#left a{
  margin-left: 4em;
}
#right a {
  padding-bottom: 0.5em;
  margin-left: 4em;
}

a {
  font-size: 0.8em;
  text-decoration: none;
  color: #6341ff;
  border-bottom: solid;
  border-width: 4px;
  padding-bottom: 0.5em;
}

.sub {
  margin-top: 1.5em;
}

a:hover{
  text-decoration: none;
  color: #6341ff;
  border-bottom: solid;
  border-width: 4px;
  padding-bottom: 0.5em;
  background-color: pink;
}


#left {
  width: 55vw;
  height: auto;
  float: left;
  margin-left: 5%;
  position: absolute;
}

#right {
margin-left: 55vw;
  width: 38%;
  margin-left: ;
  height: auto;
  margin-bottom: 4%;
  position: relative;
}

.info {
  font-size: 0.6em;
  line-height: 2em;
  position: absolute;
  margin-top: 10em;
}

.info p{
  border-left: solid;
  padding-left: 50px;
}
