/* reset padding and margins */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Press Start 2P', helvetica, arial, sans-serif;
  text-align: center;
  background-color: #4700c6;
  margin: auto;
  max-width: 2200px;
}

h1{
  font-size: 4vw;
  text-align: center;
  color: #fff8d8;
padding: 5vw;
}

.full {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a::selection {
  display: none;
}

p::selection {
  display: none;
}

p, a:hover {
  cursor: pointer;
}

.num {
  text-align: center;
  margin-top: 60px;
  left: 20%;
  font-size: 10em;
  color: #4a00ca12;
  position: absolute;
}

/* container */

.container div {
  position: relative;
  display: inline-block;
  float: left;
}

/* items */

.item {
  height: 250px;
  width: 33.33vw;
  background: #fff8d8;
  color: black;
  margin: 0;
  /* comment out 'float: left;' to have items stack in a single column */
  /* uncomment this to get CSS transitions (conflicts with jQuery) */
  /* transition: all 500ms ease; */
}

.item:hover .num {
  color: pink;
}

.centralT {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: ;
  font-weight: bold;
  font-size: 2em;
}

.blank {
  background: ;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/*  buttons */

#button-1:active {
  background: pink;
  transition: all 2000ms ease;
  opacity: 1;
}
/*---------3---------*/

#button-3 {
  position: relative;
}
/*---------7---------*/

#button-7 {
  background-color: #a79afa;
  transition: all 2000ms ease;
}

/*---------8---------*/

#button-8 .heart {
  transition: all 1000ms ease;
}

/* draw a heart */

.heart {
  padding: 0;
  margin: 0;
  outline: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 5vw;
  height: 4.5vw;
}

.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 2.5vw;
  top: 0;
  width: 2.5vw;
  height: 4vw;
  background: red;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/*---------6---------*/

#button-6 {
  background-color: #FFEFB3;
  color: pink;
}

#button-6 .num {
  color: pink;
}

#button-6 .full {
  background-color: pink;
}
/*---------12---------*/

#Awww {
  max-width: 80%;
  max-height: 400px;
  margin: 0;
  transition: all 2000ms ease;
  word-break: break-all;
}

#button-12:hover #Awww::after {
  content: 'wwwwwwwwwwwwwwwwwwwwwwwwwwwwwww';
  color: pink;
}

#button-12:hover p {
  cursor: none;
}

#button-12:hover .num {
  opacity: 0;
}

/*---------13---------*/

#button-13:hover #counter {
  color: red;
}
/*---------14---------*/

#num14 {
  transition-duration: 0.9s;
}

#button-14:hover #num14 {
  color: yellow;
  background-color: purple;
}
/*---------15---------*/

#button-15:hover .full {
  background-color: black;
  transition-duration: 0.8s;
  opacity: 0.7;
}

/*---------17---------*/

#ooo {
  font-size: 3em;
  transition: all 1000ms ease;
}

/*---------16---------*/

#hey1 {
  margin-top: 40px;
}

/*---------18---------*/

#love {
  color: #4700c6;
}

/*---------19---------*/

#button-19:hover p {
  text-shadow: 5px 5px #FF0000;
}

#button-19:hover {
  background: yellow;
}

/*---------20---------*/

#button-20:hover .full {
  background: black;
  cursor: none;
}

#hole {
  font-size: 4em;
}

/*---------21---------*/

#button-21 {
  background-color: #03192B;
  transition: all 1200ms ease;
  overflow: hidden;
}

/*---------21---------*/

#sun {
  font-size: 7em;
  transition-duration: 2s;
  margin-top: 350px;
}

/*---------22---------*/

#add {
  font-size: 5em;
  cursor: pointer;
}
/*---------23---------*/

#button-23:hover .full {
  background: linear-gradient(to right, #ffc5c5, #ffe2b8, #84d9e6);
}

#button-23:hover #rainbower::after {
  content: 'Rainbow Lover!';
  color: white;
}

/*---------24---------*/

#b24 {
  transition-duration: 1s;
}

#border {
  transition-duration: 0.7s;
}

.buttonchange {
  transition-delay: 0.4s;
  transition-duration: 0.5s;
}



/*---------------27---------------*/


#button-27 {
  transition-duration: 3s;
}



/*---------------28---------------*/
#button-28 {

}
.apart {
     letter-spacing: 8vw;
}


/*---------------29---------------*/
.size {
    font-size: 3em;
}


/*---------------30---------------*/
.disapear {
    margin-top: 280px;
}

.threesome {
  transition: all 500ms ease;
}

/*---------31---------*/

@keyframes pulse {
  from {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  to {
    transform: scale(1, 1);
  }
}

.pulse {
  animation: pulse 1.5s infinite;
}

/*---------32---------*/

#button-32 iframe {
    border: none;
    width: 100%;
    height: 100%;
    display: none;
}

.exit {
    font-size: 30px;
    left: inherit;
    right: 30px;
}
/*---------32---------*/

#button-33 .num{
  pointer-events:none;
}
/*---------37---------*/

#button-37 {
  z-index: -2;
  /*---------38---------*/

}
#button-38 {
    z-index: 3;
    transition: all 1000ms ease;
}
.drop {
    box-shadow: 0px 0px 125px 125px #4700c670;
}

/*---------38---------*/
#button-39 {
  transition: all 500ms ease;
}

#button-44{
  transition: all 1000ms ease;

}
#button-46 .moveIt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    speed: 200;
}

#button-47{
  filter: grayscale(100%);
}
#button-49{
  transition: all 1000ms ease;

}
