body {
  background-color: #d8d8d8;
  margin: inherit;
}

#white div {
  height: 5vw;
  width: 5vw;
  transform: rotate(45deg);
  background-color: white;
  margin: 3.5vw;
  float: left;
}

#white {
  height: 100%;
  width: 100%;
  margin-left: 2vw;
  position: absolute;


}


#black div {
  height: 5vw;
  width: 5vw;
  transform: rotate(45deg);
  background: #72fbdb;
  margin: 3.5vw;
  float: left;


}

#black {
  position: fixed;

}


#bar div {
  height: 1vw;
  margin-bottom: 5vw;
  background-color: #d8d8d8;
  mix-blend-mode: darken;


}

#bar {
  width:100%;
  position: absolute;
}

  #bar div:hover{
  background-color: yellow;
  background: linear-gradient(to  bottom, yellow, rgba(255, 0, 0, 0));

  height: 7vw;
}

#light div{
  height: 7vw;
  width: 7vw;
  margin-bottom: 5.5vw;
  margin-right: 5.5vw;
  float: left;
}

#light {
  width: 110vw;
  margin-top:2vw;
  margin-left: 3vw;
}

#light div:hover{
  background-color: linear-gradient(to bottom, yellow, rgba(255, 0, 0, 0));
}
