body {
  background-color: black;
  color: white;
  font-family: 'Lusitana', serif;
  font-size: 0.9em;
  margin: auto;
}

p {
  line-height: 1.8em;
  mix-blend-mode: exclusion;

}
h1{
  line-height: 0.8em;
  text-align: center;

}

.title {
  letter-spacing: 0.6em;
}

.title h1 {
  margin-top: 8vh;
  position: absolute;
    left: 23%;
    cursor: none;
}

#title1{
  transition: all .2s ease;
}#title2{
  opacity: 0;
  transition: all 2s ease;
}
.text {
  margin-top: 12vh;
  max-width: 900px;
  position: absolute;
  left: 5%;


}

.text div {
  float: left;
  position: relative;
  max-width: 400px;

}

.right {
  margin-left: 50px;
  transition: 'all .8s ease'
}

.left .chinese:hover{
  text-decoration: line-through;
}.left .spanish:hover{
text-decoration: line-through;
}
.chinese, .spanish{
  cursor: pointer;
  color: #00ffff;

}
/*
@font-face {
  font-family: 'HYXinRenWenSong';
  src: url('HYXinRenWenSongW-1.otf');
} */
.chinese {
  font-size: 0.9em;
  /* font-family: 'HYXinRenWenSong'; */
}

.spanish {
  font-size: 1.1em;
  font-family: 'Yrsa', serif;
}


.rotate {
position: fixed;
margin-left: 27.5vw;
margin-top: 15vh;
mix-blend-mode: exclusion;
opacity: .8;
}


.numby {
  position: fixed;
  font-size: 30px;
  z-index: 10;
  color: #00ffff;
  pointer-events: none;
  mix-blend-mode: exclusion;
}

#numby1{
  pointer-events: none;
}#numby2{
  pointer-events: none;
}#numby3{
  pointer-events: none;
}

.right{
font-size: 1.3em;
}


.translate{
  background-color: gold;
}

.infinito{
  z-index: 1;
opacity: 0.6;
  color: #00ffff;
  font-size: 4.2em;
  float:left;
  position: absolute;
  pointer-events: none;
  margin-left: 6vw;
  margin-top: -10vh;
  display:none;

}
